.selector__title {
  font-size: 10px;
  text-align: left;
  color: gray;
}
.selector-row {
  padding: 10px 0 0 ;
  min-width: 100px;
  width: 100px;
  position: relative;
  text-align: center;
  &__button {
    width: 100%;
    border-bottom: solid 1px black;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    &:hover {
      background-color: gray;
      color: black;
    }
  }
  &__content {
    width: 100%;
    border-bottom: solid 1px black;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    max-height: 170px;
    overflow: auto;
    font-size: 12px;
    &::-webkit-scrollbar {
      display: none;
    }
    & > * {
      border-bottom: gray solid 1px;
      padding: 5px 0;
      background-color: white;
      &:hover {
        background-color: gray;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.open {
  background-color: black;
  color: #ffffff;
}