.selector-row {
  &__content {
    &::-webkit-scrollbar {
      display: none;
    }
    & > * {
      border-bottom: blue solid 1px;
      padding: 5px 0;
      background-color: white;
      &:hover {
        background-color: blue;
        color: white;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}