.check-box-row {
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  max-width: 300px;
  position: relative;
  &__label {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    position: relative;
    font-size: 12px;
    &:before {
      content: '';
      border: 1px solid black;
      height: 15px;
      width: 15px;
      position: absolute;
      left: 0;
      top: 0;
      transition: .1s ease all;
      background-color: white;
    }
    &:hover {
      &::before {
        background-color: #d7c6ea;
      }
    }
  }
  &__input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: fit-content;
    z-index: -1;
    &:checked {
      & + label:before {
        content: '';
        background-color: #d0a9ee;
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve"><polygon points="490,42.789 477.409,34.056 200.447,433.604 9.69,277.553 0,289.396 203.587,455.944 "/></svg>');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}